/*
    Byron Mosley
    Created: 20 Oct 2020
    Thinkful Web Portfolio
*/

/*
UNIVERSAL RESET AND RULES
*/

* {
    font-family: 'Courier New', Courier, monospace;
    color: #303030;
    background: #f5f5f5;
    margin-left: auto;
    margin-right: auto;
}

#wrapper {
    margin: 10px auto 10px auto;
    padding: 10px 10px 0px 10px;
    width: 80%;

}

/*
HEADER AREA
*/

header {
    padding: 10px;
    text-align: center;
}

#banner-name {
    font-size: 64px;
}

/*
LINKS
*/

a:link {
    color: #303030;
}
a:visited {
    color: #303030;
}
a:hover {
    color: gray;
}
a:active {
    color: white;
}

.icons {
    font-size: 3em;
}

/*
MAIN
*/

#profile-img {
    text-align: center;
}

#profile-img img {
    width: 40em;
    box-sizing: border-box;
    margin: 10px auto;
    border-radius: 20px;
}

h2 {
    font-size: 48px;
    text-align: center;
}

#intro, #about, #contact {
    width: 85%;
}

#about p {
    text-align: justify;
}

hr {
    margin: 50px auto;
    width: 30%;
}

.long-hr {
    margin: 0px auto 50px;
    width: 95%;
}

.map {
    margin: 5em auto;
    width: fit-content;
}

/*
FOOTER
*/

.footer {
    font-size: small;
    text-align: center;
    padding: 10px;
}

footer .corner-links {
    margin-left: 1em;
}